// Card INDEX
.my-card {
    border-radius: 20px;
    border: 1px solid lightgrey;
    background-color: $color_light;
    color: black;
    position: relative;
    width: 100%;
    height: 70px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);

    h2 {
        margin-top: 200px;
        margin-bottom: 80px;
    }

    &:hover {
        height: 450px;


        h2 {
            margin-top: 0px;
        }
    }

    h6,
    h5,
    p,
    h2 {
        transition: 0.5s;

    }

    h2 {
        color: $color_primary;
    }


    &:hover {
        background: $color_light;
        background: linear-gradient(150deg, $color_light 82%, rgb(231, 231, 231) 100%);
        cursor: pointer;

        h6,
        h5,
        p {
            color: $color_primary;
        }

        .silver {
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .gold {
            background: -webkit-radial-gradient(#FEDB37, #8A6E2F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .platinum {
            background: -webkit-radial-gradient(rgb(78, 215, 169), rgb(57, 185, 70));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .imgBx img {
        position: absolute;
        left: 50%;
        top: -50px;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        border-radius: 20px;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
        overflow: hidden;
        transition: 0.5s;
        z-index: 10;
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .details {
        text-align: center;
        width: 100%;
        transition: 0.5s;
    }

}

// Card SHOW
.my-card-special {
    border-radius: 20px;
    border: 1px solid lightgrey;
    background-color: $color_light;
    transition: background-color 0.5s ease-in;
    color: black;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);

    h6,
    h5,
    p,
    h2 {
        transition: 0.5s;

    }

    h2 {
        color: $color_primary;
    }


    &:hover {
        background: $color_light;
        background: linear-gradient(150deg, $color_light 82%, rgb(231, 231, 231) 100%);
        cursor: pointer;

        h6,
        h5,
        p {
            color: $color_primary;
        }

        .silver {
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .gold {
            background: -webkit-radial-gradient(#FEDB37, #8A6E2F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .platinum {
            background: -webkit-radial-gradient(rgb(78, 215, 169), rgb(57, 185, 70));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

// MEDIAQUERY
@media screen and (min-width: 320px) {

    .my-card {

        h2 {
            margin-top: 260px;
            margin-bottom: 50px;
        }

    }
}

@media screen and (min-width: 375px) {

    .my-card {

        h2 {
            margin-top: 250px;
            margin-bottom: 50px;
        }

    }
}

@media screen and (min-width: 425px) {

    .my-card {

        h2 {
            margin-top: 250px;
            margin-bottom: 80px;
        }

    }
}

@media screen and (min-width: 768px) {

    .my-card {

        h2 {
            margin-top: 250px;
            margin-bottom: 80px;
        }

    }
}

@media screen and (min-width: 1024px) {

    .my-card {

        h2 {
            margin-top: 300px;
            margin-bottom: 50px;
        }

    }
}

@media screen and (min-width: 1440px) {

    .my-card {
        h2 {
            margin-top: 250px;
            margin-bottom: 80px;
        }

    }
}