@mixin logo_page{
    & {
        text-decoration: none;
        img {
          height: 100%;
          aspect-ratio: 1;
        }
    
        span {
          font-weight: bold;
          font-size: 1.5rem;
          background: #FF385C;
          background: linear-gradient(to right, #FF385C 0%, #8729CF 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
}

@mixin buttonPrimary{
  & {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $color_light_gray;
    border: 1px solid $color_dark;
    color: $color_dark;
    border-radius: 0.375rem;

  }
  &:hover {
      color: $color_light;
      background-color: $color_primary;
      border: 1px solid $color_primary;
  }

}

@mixin buttonDisabled{
  & {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $color_light_gray;
    border: 1px solid $color_dark;
    color: $color_dark;
    border-radius: 0.375rem;

  }
}

@mixin buttonSecondary{
  & {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $color_primary;
    border: 1px solid $color_primary;
    color: $color_light;
    border-radius: 0.375rem;

  }

  &:hover {
    color: $color_light;
    background-color: $color_primary;
    border: 1px solid $color_primary;
}

}

@mixin back {
    & {
        text-decoration: none;
        color: $color_dark;
    }

    &:hover {
        text-decoration: none;
        color: $color_primary;
        font-weight: bold;
    }
}

@mixin inputData{
    &:focus {
        border-color: $color_primary;
        box-shadow: 0 0 0 0.25rem rgb(255, 56, 92, 0.25);
      }
}

@mixin inputCheck{
    & {
        background-color: $color_primary;
        border-color: $color_primary;
      }
}

@mixin inputRadio{
  &:checked{
      background-color: $color_primary;
      border-color: $color_primary;
    }
}

@mixin iconSection{
  & {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #FF385C 0%, #8729CF 100%);
    color: $color_light;
    border-radius: 0.375rem;

  }

}
