$color_primary:  #FF385C;
$color_light_pink:  #F2EDF3;
$color_purple:  #8729CF;
$color_light: #FCFAFF;
$color_dark: #232323;
$color_light_gray: #F7F7F7;

// Aggiunta per testi in grigio
$color_gray: #808080;
