#apartments_create, #apartments_update{
    input{
        @include inputData
    }
    textarea{
        @include inputData
    }
    input[type="radio"]:checked, input[type="checkbox"]:checked {
        background-color: $color_primary;
        border-color: $color_primary;
      }
    
      .radius {
        border-radius: 0 0 5px 5px;
        border: 0 1px 1px 1px solid $color_primary;
        // @include inputCheck;
        & li{
            cursor: pointer;
        }
    }

}