
.my-btn {
    padding: 0.5rem;
    display: inline-block;
    color: $color_light;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $color_primary;
}

.my-action {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $color_light_gray;
    border: 1px solid $color_dark;
    color: $color_dark;

}

.my-action:hover {
    color: $color_light;
    background-color: $color_primary;
    border: 1px solid $color_primary;
}