#apartments_show{

        height: calc(100vh - 70px);

        .main-show {

            height: calc(100vh - 198px);
            overflow-y: scroll;

                .services-container {
                    max-width: 100%;
                }
                
                .my-badge {
                        --bs-badge-font-size: 0.75em;
                        --bs-badge-font-weight: 700;
                        --bs-badge-color: $color_dark;
                        --bs-badge-border-radius: 0.375rem;
                        display: inline-block;
                        padding: 1rem;
                        font-size: var(--bs-badge-font-size);
                        font-weight: var(--bs-badge-font-weight);
                        line-height: 1;
                        color: var(--bs-badge-color);
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: baseline;
                        border-radius: var(--bs-badge-border-radius);
                        border: 1px solid $color_dark;
                }
        
                .bg-light {
                    background-color: $color_light;
                    border: 1px solid $color_dark;
                    color: $color_dark;
                }
        }

        .aside-show {
            height: calc(100vh - 198px);
            position: fixed;
            top: 0;  
            right: 0;
        }


      
}