#apartments_show{
    .services-container {
        max-width: 100%;
    }
    
    .my-badge {
        background-color: $color_light_gray;
        border: 1px solid $color_dark;
        color: $color_dark;
    }
    
}